<header class="site-header">
  <div class="container bar">
    <a class="brand" href="{{ROOT}}index.html">
      <img src="{{ROOT}}assets/img/logo.png" alt="Canopi" class="brand-logo">
      Canopi Repository
    </a>
    <nav>
      <a href="{{ROOT}}knowledge-base/index.html">Knowledge base</a>
      <a href="{{ROOT}}projects/index.html">Projects</a>
      <a href="{{ROOT}}meetings/index.html">Meetings</a>
      <a href="{{ROOT}}resources/index.html">Resources</a>
      <a href="{{ROOT}}tools/index.html">Tools</a>
      <a href="{{ROOT}}team-spaces/index.html">Team spaces</a>
    </nav>
  </div>
</header>
